[Unit]
Description=SocialScope Service running under Uvicorn
After=network.target

[Service]
User=zli
Group=zli
WorkingDirectory=/home/zli/apps/SocialScope


Environment="PYENV_ROOT=/home/zli/.pyenv"
Environment="PATH=/home/zli/.pyenv/shims:/home/zli/.pyenv/bin:/usr/local/bin:/usr/bin:/bin"

ExecStart=/home/zli/.pyenv/shims/poetry run uvicorn socialscope.main:app --host 0.0.0.0 --port 8000


Environment="PATH=/home/zli/.cache/pypoetry/virtualenvs/socialscope-Vvt6X9U0-py3.12/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
Environment="POETRY_VIRTUALENVS_IN_PROJECT=false"

Restart=always
RestartSec=5s

StandardOutput=journal
StandardError=journal

#StandardOutput=append:/home/zli/apps/logs/socialscope/app_log
#StandardError=append:/home/zli/apps/logs/socialscope/app_error_log

[Install]
WantedBy=multi-user.target
